html{
    height: 100%;
}
body{
    background: rgb(75,186,228);
background: linear-gradient(90deg, rgba(75,186,228,1) 0%, rgba(225,207,245,0.6530987394957983) 26%, rgba(225,207,245,1) 75%, rgba(75,186,228,1) 100%);
}
.navbar{
    background-color: dodgerblue !important;
}
.container{
    border: solid 3px dodgerblue;
}
.table tr{
    text-align: center;
}